:root {
  font-family: 'Outfit', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #b7afc2;
  background: #09070d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  color: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
